@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.recharts-bar-rectangle:hover,
.recharts-bar rect:hover {
  filter: brightness(0.7);
}
